@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');



body {
    background-color:#ffffff;
    margin:50px;
    margin-top:-20px; 
}

#spaghetti {
    display:block;
    margin-left:auto;
    margin-right:auto;    
}

@media only screen and (max-width: 600px) {
    #spaghetti{
        max-width:250px;
        max-height:150px;
    
    }
}

 button {
     position: absolute;
     left:5px;
     top:5px;
     width:70px;
     height:40px;
     box-shadow:2px 2px 5px rgba(0, 0, 0, 0.253);
 }

.container1 {
    display:grid;
    background-color:rgb(223, 223, 223);
    justify-content:center;
    border-radius:15px;
    border-style:solid;
    border-width:.01px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.336);
    margin-left:20px;
    margin-right:20px;   
}

@media only screen and (min-width: 1200px) {
    .container1{
       margin-left:400px;
       margin-right:400px;
    }
  }




#links {
    position:relative;
    left:10px;
    color:rgba(59, 26, 26, 0.699);
    font-size:25px;
    font-family:'Courgette',sans-serif, Georgia;
    font-weight:900;
}
p {
    font-family:'Quicksand',sans-serif, Georgia;
    text-align:center;
}


li {
    font-family:'Quicksand',sans-serif, Georgia;
    line-height:25px;
}

h1 {
    color:rgb(82, 82, 82);
    text-align:center;
    font-family:'Quicksand',sans-serif, Georgia;
    font-size:40px;
    text-shadow:2px 2px 6px rgba(0, 0, 0, 0.445);
    font-weight:100;
    
    
    
    
}

h2 {
    color:rgb(0, 0, 0);
    text-align: center;
    font-family:'Courgette',sans-serif, Georgia;
    
    text-shadow:2px 2px 3px rgba(0, 0, 0, 0.075);
    
}

h3 {
    color:rgb(0, 0, 0);
    text-align:center;
    font-family:'Courgette',sans-serif, Georgia;
    
    text-shadow:2px 2px 3px rgba(0, 0, 0, 0.075);
    
}

h4 {
    color:rgba(0, 0, 0, 0.644);
    
    font-family:'Titillium',sans-serif, Georgia;
    
    
    
}
h5 {
    color:rgb(0, 0, 0);
    text-align:center;
    font-family:'Courgette',sans-serif, Georgia;
    
    text-shadow:2px 2px 3px rgba(0, 0, 0, 0.13);
    
}
a {
    font-family:'Cabin',sans-serif, Georgia;
    text-decoration:none;
    text-shadow:2px 2px 3px rgba(0, 0, 0, 0.11);
    color:black;
}

a:hover {
    color:rgba(167, 2, 2, 0.603);
}
img {
    border-width:2px;
    border-style:solid;
    border-color:black;
    border-radius:10px; 
     
}

@media only screen and (max-width: 600px) {
        img{
            min-width:250px;
            min-height:150px;
        
        }
}

  @media only screen and (min-width: 600px) {
        img{
            max-width:400px ;
            max-height:400px;
        }
}

.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%; 
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.253);
}