
@font-face {
    font-family: myFont1;
    src: url(fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: myFont2;
    src: url(fonts/Cabin-Regular.ttf);
}

body {
    background-color:#e6e8ff;    
}

p {
    font-family:myFont1,sans-serif, Georgia;
}


li {
    font-family:myFont1,sans-serif, Georgia;
    line-height:25px;
}

h1 {
    text-align: center;
    font-family:myFont2,sans-serif, Georgia;
    font-size:40px;
}

a {
    font-family:myFont2,sans-serif, Georgia; 
}