
@font-face {
    font-family: myFont1;
    src: url(fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: myFont2;
    src: url(fonts/Cabin-Regular.ttf);
}

@font-face {
    font-family: myFont3;
    src: url(fonts/Courgette-Regular.ttf);
}
@font-face {
    font-family: myFont4;
    src: url(fonts/Quicksand-Light.ttf);
}

body {
    background-color:#ffffff;
    margin:50px;    
}
.container1 {
    display:grid;
    background-color:rgb(223, 223, 223);
    justify-content: center;
    border-radius: 15px;
    border-style: solid;
    border-width:.01px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.336);
    margin-left:20px ;
    margin-right:20px ;   
}

@media only screen and (min-width: 1200px) {
    .container1{
      margin-left:400px ;
      margin-right:400px ;
    }
  }


#links {
    position:relative;
    left:10px;
    color:rgba(58, 26, 26, 0.699);
    font-size:25px;
    font-family:myFont4,sans-serif, Georgia;
    font-weight:900;
}
p {
    font-family:myFont1,sans-serif, Georgia;
    text-align: center;
}


li {
    font-family:myFont1,sans-serif, Georgia;
    line-height:25px;
}

h1 {
    color:rgb(82, 82, 82);
    text-align: center;
    font-family:myFont3,sans-serif, Georgia;
    font-size:50px;
    text-shadow:2px 2px 6px rgba(0, 0, 0, 0.445);
    font-weight:100;
    
    
    
    
}

h2 {
    color:rgb(0, 0, 0);
    text-align: center;
    font-family:myFont4sans-serif, Georgia;
    
    text-shadow:2px 2px 3px rgba(0, 0, 0, 0.075);
    
}

h3 {
    color:rgb(0, 0, 0);
    text-align: center;
    font-family:myFont4sans-serif, Georgia;
    
    text-shadow:2px 2px 3px rgba(0, 0, 0, 0.075);
    
}

h4 {
    color:rgba(0, 0, 0, 0.644);
    
    font-family:myFont3,sans-serif, Georgia;
    
    
    
}
h5 {
    color:rgb(0, 0, 0);
    text-align: center;
    font-family:myFont4,sans-serif, Georgia;
    
    text-shadow:2px 2px 3px rgba(0, 0, 0, 0.13);
    
}
a {
    font-family:myFont2,sans-serif, Georgia;
    text-decoration: none;
    text-shadow:2px 2px 3px rgba(0, 0, 0, 0.11);
    color:black;
}

a:hover {
    color:rgba(167, 2, 2, 0.603);
}
img {
    border-width:2px;
    border-style:solid;
    border-color:black;
    border-radius:10px;
    
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.253);
}